---
import { getCollection } from "astro:content";
import BlogIndexLayout from "@layouts/BlogIndexLayout.astro";

import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const allPosts = await getCollection("blog", ({ id }) => {
    return id.startsWith(`${lang}/`) || id.includes(`-${lang}.md`) || id.includes(`-${lang}/`);
});
const pageTitle= "Blog";
---
<BlogIndexLayout pageTitle={pageTitle} allPosts=allPosts}>
  <h1 slot="title" class="text-3xl my-10">{pageTitle}<span class="text-info">.</span></h1>
  
  <div slot="content">
  </div>
</BlogIndexLayout>
