---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);


import IndexLayout from '@layouts/IndexLayout.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import Presentation from "@components/Presentation.astro";
import PresentationSection from '@components/PresentationSection.astro';
import ProfilePicture from "@images/bigouden_aperopark_square.jpg";


const surname = "Simon";
const name = "BÉLIER";
const githubUrl="https://link.bigouden.org/going/1?https://github.com/Big-Ouden";
const linkedinUrl="https://link.bigouden.org/going/4?https://www.linkedin.com/in/simon-b%C3%A9lier-1a2535295/"; 
const resumeUrl="https://rxresu.me/simon.belier29/cv-simon-belier" ;
const pageTitle = t('meta.title');


const educationCards = [
    {
        cardTitle: "Master's degree in Computer Science with a focus on HPC",
        location: "Évry, France",
        date: "Sept 2023 - 2026",
        tags: ["HPC", "System Architecture", "Operating Systems"],
    },
    {
        cardTitle: "Baccalaureate, options: Math, Physics, Computer Science",
        location: "Brest, France",
        company: "Lycée Amiral Ronarc'h",
        date: "2021",
        tags: ["Science", "High Honors", "European Distinction"],
    }
];

const experienceCards = [
    {
        cardTitle: "Research Internship in Cybersecurity",
        location: "Sherbrooke, Québec, Canada",
        company: "Sherbrooke University",
        date: "May-June 2025 (4 months)",
        tags: ["Java", "TLS 1.3", "Cybersecurity", "Test Generation"],
        content: [
            "Development of an automatic TLS 1.3 test generation process based on formal B specifications using the ProB tool in a post-quantum cryptography context.",
            "Design and implementation of robust evaluation criteria to validate the generated tests.",
            "Production of comprehensive technical documentation ensuring the longevity of the project."
        ]
    },
    {
        cardTitle: "Summer School",
        location: "Évry, France",
        company: "C-19, IMT Starter",
        date: "Summer 2024",
        tags: ["Web Development", "Fullstack", "ERP", "Management", "Startup"],
        content: [
            "Development of a B2B and B2C ERP to organize sports events, trade shows, and seminars.",
            "Project planning and startup creation.",
            "Development of a web app (HTML, CSS, PHP)."
        ]
    },
    {
        cardTitle: "Windsurfing Instructor",
        location: "Brittany, France",
        company: "NPI Plougonvelin",
        date: "2021, 2022-2024",
        tags: ["Teaching", "Water Sports", "Windsurfing", "Communication"],
        content: [
            "Teaching windsurfing at various levels, developing my skills in clear communication and pedagogy.",
            "Close collaboration with the team, enhancing my ability to express myself concisely and precisely."
        ]
    },
];

const projectsCards = [
    {
        cardTitle: "Self-hosted Infrastructure",
        location: "France",
        company: "",
        date: "July 2024-present",
        tags: ["Docker", "OpenId Connect", "DNS/Traefik", "VPN", "Ansible", "Prometheus"],
        content: [
            "Management of virtual machines and containers via the Proxmox hypervisor with integration of monitoring, DNS, VPN, and other open-source services.",
            "Private and public services with monitoring and OpenId Connect authentication."
        ]
    },
    {
        cardTitle: "Determination of the Local Density of a Nuclear System",
        location: "Évry, France",
        company: "ENSIIE",
        date: "October 2024",
        tags: ["C++", "Python", "Armadillo", "Quantum Physics", "Numpy", "Valgrind", "POV-Ray"],
        content: [
            "Calculation of generalized Hermite and Laguerre polynomials.",
            "Implementation of unit tests.",
            "Representation of the local nuclear density in the (x, z) plane (Matplotlib) and the local nuclear density in space (x, y, z) (POV-Ray)."
        ]
    },
    {
        cardTitle: "Simulation of Solutions for a Quantum Harmonic Oscillator",
        location: "Évry, France",
        company: "ENSIIE",
        date: "October 2024",
        tags: ["C++", "Python", "Armadillo", "Quantum Physics"],
        content: [
            "Calculation of solutions for the one-dimensional harmonic oscillator equation.",
            "Creation of unit tests and generation of documentation with Doxygen.",
            "Display of particle presence probability curves for different energy levels."
        ]
    },
    {
        cardTitle: "Development of an Image-based Interpreter (Piet)",
        location: "Évry, France",
        company: "ENSIIE",
        date: "January 2024",
        tags: ["C", "Valgrind", "GDB", "Makefile"],
        content: [
            "C development and discovery of imperative programming.",
            "Understanding the compilation chain.",
            "Manipulation of ppm images."
        ]
    },
];

const certificationsCards = [
    {
        cardTitle: "Linguaskill English C1+",
        location: "Online",
        date: "May 6, 2025",
        tags: [],
    },
    {
        cardTitle: "Driver's License B",
        location: "France",
        date: "2021",
        tags: []
    },
    {
        cardTitle: "Coastal Boat License",
        location: "France",
        date: "2020",
        tags: []
    },
];

---

<BaseLayout display={false} pageTitle={pageTitle} >

    <Presentation name={name} surname={surname} githubUrl={githubUrl} linkedinUrl={linkedinUrl} resumeUrl={resumeUrl} >

    <div slot="status" class="">
        HPC engineering student
    </div>
    <div slot="introduction" >
            I am Simon "BigOuden" BÉLIER, a student at <a href="https://ensiie.fr" class="text-base font-black">ENSIIE</a> in the <span class="text-base font-black">HPC</span> (High-Performance Computing) program.
        </div>
    <div slot="general-presentation">
            This site serves as both a personal blog and a professional portfolio. I will share my technical thoughts, projects, and discoveries about the world of computing and open source in general. Feel free to check out my <a id="posts" class="text-base text-info font-black underline underline-offset-2 hover:text-base-content focus:text-primary transition-colors" href={translatePath("/blog")}>posts</a> and my <a id="projects" href={translatePath("/projects")} class="text-base text-info font-black underline underline-offset-2 hover:text-base-content focus:text-primary transition-colors">projects</a>.
    </div>
    <div class="rounded-full  overflow-hidden" slot="profilePicture">
        <Image src={ProfilePicture} alt="Profile" class="hover:scale-105 transition duration-300" loading="eager"/>
    </div>
    </Presentation>


    <div class="flex flex-col   mx-0 mt-2">
        
        <PresentationSection sectiontitle="Professional Experiences" cardList={experienceCards} />
        <PresentationSection sectiontitle="Education" cardList={educationCards} />
        <PresentationSection sectiontitle="Certifications" cardList={certificationsCards} />
        <PresentationSection sectiontitle="Projects" cardList={projectsCards} />


    </div>


    

</BaseLayout>
