---
import { getCollection } from "astro:content";

import BlogPost from '@components/BlogPost.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogIndexLayout from '@layouts/BlogIndexLayout.astro';
import { getLangFromUrl, useTranslations } from '@i18n/utils';


export async function getStaticPaths() {
    const allPosts = await getCollection("blog");
    const uniqueTags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const {posts} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// Filtrer les posts par langue
const currentLangPosts = posts.filter((post: any) => {
    return post.id.startsWith(`${lang}/`) || 
           post.id.includes(`-${lang}.md`) || 
           post.id.includes(`-${lang}/`);
});

---
<BlogIndexLayout pageTitle={tag} allPosts={currentLangPosts}>
    <div slot="introduction" class="flex flex-col space-y-1">
        <h1  class="text-3xl">Posts en lien avec <span class="text-info" >{tag}</span><span class="text-info">.</span></h1>
    </div>


    <div slot="content">
    </div>
</BlogIndexLayout>
