---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);


import IndexLayout from '@layouts/IndexLayout.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import Presentation from "@components/Presentation.astro";
import PresentationSection from '@components/PresentationSection.astro';
import ProfilePicture from "@images/bigouden_aperopark_square.jpg";


const surname = "Simon";
const name = "BÉLIER";
const githubUrl="https://link.bigouden.org/going/1?https://github.com/Big-Ouden";
const linkedinUrl="https://link.bigouden.org/going/4?https://www.linkedin.com/in/simon-b%C3%A9lier-1a2535295/"; 
const resumeUrl="https://rxresu.me/simon.belier29/cv-simon-belier" ;
const pageTitle = t('nav.home');

const educationCards = [
    {
        cardTitle: "Diplôme d'ingénieur en informatique parcours HPC",
        location: "Évry, France",
        date: "Sept 2023 - 2026",
        tags: ["HPC", "Architecture système", "Systèmes d'exploitation"],
    },
    {
        cardTitle: "Baccalauréat, options : Maths, Physique, NSI",
        location: "Brest, France",
        company: "Lycée Amiral Ronarc'h",
        date: "2021",
        tags: ["Science", "Mention TB", "Mention européenne"],
    }
];

const experienceCards = [
    {
        cardTitle: "Stage de recherche en cyber sécurité",
        location: "Sherbrokke, Québec, Canada",
        company: "Université de sherbrooke",
        date: "Mai-Juin 2025 (4 mois)",
        tags: ["Java", "TLS 1.3", "Cybersécurité", "Génération de tests"],
        content: [
            "Développement d'un processus de génération automatique de tests TLS 1.3 basé sur des spécifications formelles B via l'outil ProB dans un contexte de crypto post-quantique.",
            "Conception et implémentation des critères d'évaluation robustes pour valider les tests générés.",
            "Production d'une documentation technique complète garantissant la pérennité du projet."
        ]
    },
    {
        cardTitle: "Summer school",
        location: "Évry, France",
        company: "C-19, IMT Starter",
        date: "Été 2024",
        tags: ["Webdev", "Fullstack", "ERP", "Management", "Startup"],
        content: [
            "Développement d'un ERP en B2B et B2C pour organiser des évènements sportifs/ salon / séminaires.",
            "Planification de projet et création de Startup.",
            "Développement d'une web app (HTML, CSS, Php)",
        ]
    },
    {
        cardTitle: "Moniteur de Windsurf",
        location: "Bretagne, France",
        company: "NPI Plougonvelin",
        date: "2021, 2022-2024",
        tags: ["Enseignement", "Sport nautique", "Windsurf", "Communication"],
        content: [
            "Enseignement du windsurf à différents niveaux, développant mes compétences en communication claire et pédagogie.",
            "Collaboration étroite avec l'équipe, renforçant ma capacité à m'exprimer de manière concise et précise."
        ]
    },
    
    
];

const projectsCards = [
    {
        cardTitle: "Infrastructure auto-hébergée ",
        location: "France",
        company: "",
        date: "Juillet 2024-présent",
        tags: ["Docker", "OpenId connect", "DNS/Traefik", "VPN", "Ansible", "Prometheus"],
        content: [
            "Gestion de machines virtuelles et de conteneurs via l'hyperviseur Proxmox avec intégration de la surveillance, d'un DNS, d'un VPN et autre services open sources.",
            "Services privés & publics avec observation/monitoring et authentification OpenId Connect.",
        ]
    },
    {
        cardTitle: "Détermination de la densité locale d'un système nucléaire",
        location: "Évry, France",
        company: "ENSIIE",
        date: "Octobre 2024",
        tags: ["C++", "Python", "Armadillo", "Physique quantique", "Numpy", "Valgrind", "POV-Ray"],
        content: [
            "Calcul des polynômes d'Hermite et de Laguerre généralisés.",
            "Mise en oeuvre de tests unitaires.",
            "Représentation de la densité nucléaire locale dans le plan (x, z)(x, z) (Matplotlib) et de la densité nucléaire locale dans l'espace (x, y, z)(x, y, z) (POV-Ray)"
        ]
    },
    {
        cardTitle: "Simulation des Solutions d'un oscillateur harmonique quantique",
        location: "Évry, France",
        company: "ENSIIE",
        date: "Octobre 2024",
        tags: ["C++", "Python", "Armadillo", "Physique quantique"],
        content: [
            "Calcul des solution de l'equation de l'oscillateur harmonique à 1 dimension.",
            "Créations de tests unitaires et génération de documentation avec Doxygen.",
            "Affichage des courbe de probabilités de présence de particules pour différents niveaux d'énergie."
        ]
    },
    {
        cardTitle: "Développement d'un interpréteur basé sur des images (Piet) ",
        location: "Évry, France",
        company: "ENSIIE",
        date: "Janvier 2024",
        tags: ["C", "Valgrind", "GDB", "Makefile"],
        content: [
            "Développement C et découverte de la programmation impérative.", 
            "Compréhension de la chaine de compilation.",
            "Manipulation d'images ppm."
        ]
    },
];


const certificationsCards = [
    {
        cardTitle: "Linguaskill English C1+",
        location: "Online",
        date: "6 mai 2025",
        tags: [],
    },
    {
        cardTitle: "Permis B",
        location: "France",
        date: "2021",
        tags: []
    },
    {
        cardTitle: "Permis Bateau côtier",
        location: "France",
        date: "2020",
        tags: []
    },
];


---

<BaseLayout displayReturn={false} pageTitle={pageTitle}>

    <Presentation name={name} surname={surname} githubUrl={githubUrl} linkedinUrl={linkedinUrl} resumeUrl={resumeUrl} >

    <div slot="status" class="">
        Étudiant ingénieur en HPC
    </div>
    <div slot="introduction" >
        Je m'appelle Simon "BigOuden" BÉLIER, étudiant à l'<a href="https://ensiie.fr" class="text-base font-black">ENSIIE</a> dans le parcours CIDM (Calculs Intensifs et Données Massives) ou <span class="text-base font-black">HPC</span>.
    </div>
    <div slot="general-presentation">
        Ce site fait office à la fois de blog personnel et de portfolio professionnel. J’y partagerai mes réflexions techniques, projets, et découvertes autour du monde de l'informatique et de l'open source en général. N'hésitez pas à checker mes <a class="text-base text-info font-black underline underline-offset-2 hover:text-base-content focus:text-primary transition-colors" href={translatePath("/blog")}>posts</a> et mes <a href={translatePath("/projects")} class="text-base text-info font-black underline underline-offset-2 hover:text-base-content focus:text-primary transition-colors" >projets</a>.
    </div>
    <div class="rounded-full  overflow-hidden" slot="profilePicture">
        <Image src={ProfilePicture} alt="Profile" class="hover:scale-105 transition duration-300" loading="eager"/>
    </div>
    </Presentation>


    <div class="flex flex-col   mx-0 mt-2">
        
        <PresentationSection sectiontitle="Expériences professionnelles" cardList={experienceCards} />
        <PresentationSection sectiontitle="Formations" cardList={educationCards} />
        <PresentationSection sectiontitle="Certifications" cardList={certificationsCards} />
        <PresentationSection sectiontitle="Projets" cardList={projectsCards} />


    </div>


    

</BaseLayout>
