---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "@components/BackToTop.astro";

const {pageTitle} = Astro.props;

const githubUrl="https://link.bigouden.org/going/1?https://github.com/Big-Ouden";
const linkedinUrl="https://link.bigouden.org/going/4?https://www.linkedin.com/in/simon-b%C3%A9lier-1a2535295/"; 
const linktreeUrl="https://link.bigouden.org" ;

---

<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml+gif" href="/cat.gif" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <ClientRouter />
    </head>

    <body>
        <div class="flex flex-col h-[95vh] justify-between">
            <header class=""><Header/></header>
            <main class="mb-auto"><slot/></main>
            <footer class="m-0"><Footer githubUrl={githubUrl} linkedinUrl={linkedinUrl} linktreeUrl={linktreeUrl} /></footer>
          </div>
          
        
        
        
        <BackToTop/>

    </body>
</html>

