---
import { getCollection } from "astro:content";
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPost from '@components/BlogPost.astro'

import { getLangFromUrl, useTranslations } from '@i18n/utils';


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


// const allPosts = await getCollection("blog");

// Filter posts by language
const allPosts = await getCollection("blog", ({ id }) => {
    return id.startsWith(`${lang}/`) || id.includes(`-${lang}.md`) || id.includes(`-${lang}/`);
});
const pageTitle = "Blog";
---
<BaseLayout>
    <div class="flex flex-col justify-between gap-10 bg-primary ">

        <h1 class="text-3xl">{pageTitle}</h1>
    
        
        <slot name="introduction" class=""/>
    </div>
    
    <ul>
        <!-- {allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}`} title={post.data.title} />)} -->
        {allPosts.map((post: any) =><BlogPost url={`/posts/${post.id}`} title={post.data.title} />)}
        
    </ul>
    <slot name="content" />


</BaseLayout>
