---
import BaseLayout from "./BaseLayout.astro";

const { post } = Astro.props;
---

<style>
    a {
      color: #282828;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      /* border-radius: .5em; */
      padding: .25em 0.5em;
      font-size: 1.15em;
      background-color: #d79921;
    }
</style>

<BaseLayout pageTitle={post.data.title}>
    <div class="tags">
        {post.data.tags.map((tag: String) => 
            <a href={`/tags/${tag}`}><p class="tag">{tag}</p></a>
        )}
    </div>
    <p>Published on: {post.data.pubDate.toLocaleDateString()}</p>
    <p>Written by {post.data.author}</p>
    <p><em>{post.data.description}</em></p>
    <img src={post.data.image.url} width="300" alt={post.data.image.alt} />
    <slot />
</BaseLayout>